@import "tailwindcss";

@theme {
  --breakpoint-vs: 540px;
  --breakpoint-vss: 460px;
  --breakpoint-vsss:390px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4e50;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71717A;
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-text {
  background: linear-gradient(135deg, #34d399, #3b82f6, #8b5cf6); 
  background-size: 300% 300%;
  background-clip: text; 
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: animatedGradient 5s ease infinite;
}

@keyframes borderGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  20% {
    background-position: 50% 100%;
  }
  40% {
    background-position: 100% 0%;
  }
  60% {
    background-position: 0% 50%;
  }
  80% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-border {
  animation: borderGradientAnimation 4s ease-in-out infinite;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}


